body {
    font-family: $font-family-base;
    line-height: 1.25;
}

.container {
    width: 100%;
}

//Shorten margins on headings:
h1,h2,h3,h4,h5,h6 {
    margin: $spacing-sm 0;
}

p {
    margin: $spacing-sm 0;
}


.header-bar {
    &__block {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__logo {
        font-weight: bold;
        font-size: $font-size-lg;
        margin-left: $spacing-sm;
        margin-bottom: $spacing-md;
    }
    &__button {
        padding: $spacing-md;
        margin-left: $spacing-sm;
        span {
            line-height: $font-size-lg;
            font-size: $font-size-lg;
        }
    }

}

.main-nav {
    &__menu {
        padding: $spacing-sm;
        li {
            font-size: $font-size-lg;
            margin-bottom: $spacing-lg;
        }
    }
}

.widgets__desktop {
    display: none;
}


.summary-panel {
    background-color: $black;
    color: $white;
}


.summary-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.scores-panel {
    display: flex;
    justify-content: center;
    &__block {
        margin: 0 $spacing-sm;
        width: 33%;
    }
    &__meta {
        text-align: center;
        margin-top: $spacing-sm;
    }
    &__scores {
        font-weight: bold;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            font-size: $font-size-xl;
            line-height: $font-size-xl;
            padding: $spacing-sm;
            margin: 0 $spacing-xs;
            display: block;
            background-color: $primary;
            color: $white;
        }
    }
    &__team {
        span {
            font-size: $font-size-lg;
            margin-bottom: $spacing-md;
            display: block;
        }
    }
    &__goals {
        color: $grey-lighter;
        li {
            margin-bottom: $spacing-xs;
        }
    }
}

.scoreboard {
    &__block {
        width: 90%;
        margin: $spacing-md auto;
    }
    &__header {
        padding: $spacing-sm;
        font-size: $font-size-lg;
    }
    &__header-date {
        margin-right: $spacing-sm;
    }
    &__header-league {
        font-weight: bold;
    }
}


.match-summary {
    ul {
        list-style: disc;
        padding-left: $spacing-xxl;
        padding-right: $spacing-sm;
        padding-top: $spacing-sm;
        padding-bottom: $spacing-sm;
        li {
            margin-bottom: $spacing-sm;
        }
    }
}

.summary-heading {
    padding: $spacing-md;
}


.sidebar-heading {
    margin-bottom: $spacing-md;
    span {
        border-bottom: 2px solid $primary;
        padding-bottom: $spacing-xs;
        padding-right: $spacing-sm;
    }
}

.feed-tabs {
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li {
            padding: $spacing-md;
            background-color: $grey-dark;
            color: $grey-lighter;
            width: 25%;
            text-align: center;
            &:hover {
                background-color: $grey-lighter;
                color: $black;
            }
        }
        .active {
            background-color: $grey-lighter;
            color: $black;
        }
    }
}


//Feed Panels
.feed-panel {
    // background-color: $grey-lighter;
    padding-top: $spacing-md;
}


//Live Update blocks
.update-block {
    width: 90%;
    margin: $spacing-md auto;
    background-color: $white;
    padding: $spacing-md;
    border-bottom: 1px solid $grey-lighter;
    &:last-of-type {
        border-bottom: none;
    }
    &__header {
        padding: $spacing-sm 0;
        color: $grey-darker;
        font-weight: bold;
        p {
            margin: $spacing-xs 0;
        }
    }
    &__tag {
        padding: $spacing-sm 0;
        span {
            border-bottom: $spacing-xs solid $primary;
            font-weight: bold;
        }
    }
    &__footer {
        .social-list {
            display: flex;
            justify-content: flex-end;
            &__item {
                margin-right: $spacing-sm;
                a {
                    i {
                        font-size: $font-size-lg;
                    }
                }
            }
        }
    }
}

.lineups {
    width: 90%;
    margin: $spacing-md auto;
    background-color: $white;
    padding: $spacing-md;
    .team {
        margin-bottom: $spacing-md;
        &__name {
            font-size: $font-size-lg;
            font-weight: bold;
            margin-bottom: $spacing-md;
        }
        &__player {
            margin-bottom: $spacing-sm;
            display: flex;
            align-items: center;
        }
        &__number {
            font-weight: bold;
            width: 10%;
            margin-right: $spacing-md;
        }
    }
}

.stats {
    width: 90%;
    margin: $spacing-md auto;
    background-color: $white;
    padding: $spacing-md;
    &__key {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $spacing-sm;
        margin-bottom: $spacing-md;
    }
    &__keyname {
        margin: 0 $spacing-sm;
        line-height: $font-size-lg;
        font-size: $font-size-lg;
    }
    &__key-color {
        width: $font-size-lg;
        height: $font-size-lg;
        display: block;
        &--one {
            background-color: $grey-darker;
        }
        &--two {
            background-color: $grey;
        }
    }
    
}

.stats-list {
    &__entry {
        margin-bottom: $spacing-md;
        padding: $spacing-sm;
    }
    &__entry-title {
        font-size: $font-size-lg;
        font-weight: bold;
    }
    &__bar-wrap {
        display: flex;
        margin: $spacing-sm auto;
    }
    &__bar {
        display: block;
        padding: $spacing-sm 0;
        color: $white; 
        &--left {
            background-color: $grey-darker;
            span {
                margin-left: $spacing-sm;
            }
        }
        &--right {
            background-color: $grey;
            text-align: right;
            span {
                margin-right: $spacing-sm;
            }
        }
    }
}

.results {
    width: 90%;
    margin: $spacing-md auto;
    background-color: $white;
    padding: $spacing-md;
    &__header {
        margin-bottom: $spacing-md;
        h3 {
            font-size: $font-size-md;
            text-align: center;
            text-transform: uppercase;
        }
    }
    &__row {
        margin-bottom: $spacing-md;
        overflow: auto;
        border-bottom: 1px solid $grey-lighter;
    }
    &__fixture {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__team {
        width: 40%;
        padding: 0 $spacing-sm;
        &--left {
            text-align: right;
        }
        &--right {
            text-align: left;
        }
    }
    &__score-wrap {
        width: 20%;
        display: flex;
        justify-content: center;
    }
    &__score {
        font-size: $font-size-md;
        line-height: $font-size-md;
        padding: $spacing-sm;
        margin: 0 $spacing-xs;
        display: block;
        background-color: $primary;
        color: $white;
    }
    &__timestamp {
        text-align: center;
        margin-top: $spacing-sm;
    }
}

.global-footer {
    background-color: $grey-darker;
    color: $white;
    &__content {
        width: 90%;
        margin: 0 auto;
        padding: $spacing-md;
    }
    &__menu {
        margin-top: $spacing-lg;
        display: flex;
        flex-wrap: wrap;
    }
    &__menu-item {
        margin-bottom: $spacing-sm;
        width: 50%;
    }
}