//Variables


//Breakpoints

$breakpoint-md: "728px";
$breakpoint-lg: "1024px";
$breakpoint-max: "1800px";


// Colours

$black: #081111;
$white: #fffbf1;



$grey-lighter: #bbd0d1;
$grey-light: #789899;
$grey: #4b7072;
$grey-dark: #2d4647;
$grey-darker: #152525;


$primary-lighter: rgb(255, 151, 66);
$primary-light: #ff8623;
$primary: #FA5005;
$primary-dark: #c03f03;
$primary-darker: #ac2a02;


// Padding & Margin

$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 0.75rem;
$spacing-lg: 1rem;
$spacing-xl: 1.125rem;
$spacing-xxl: 1.5rem;




//Typography

$font-family-base: 'Overpass', sans-serif;


$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

