* {
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px auto;
}

/* Utility classes */


.uppercase {
    text-transform: uppercase;
}

.shadow-solid {
    -webkit-box-shadow: -6px 6px 0px 1px rgba(0,0,0,0.95);
    -moz-box-shadow: -6px 6px 0px 1px rgba(0,0,0,0.95);
    box-shadow: -6px 6px 0px 1px rgba(0,0,0,0.95);
}


/* Main styles */

body {
    background-color: rgb(240, 240, 240);
}

.container {
    width: 95%;
    margin: 0 auto;
    min-height: 100vh;
}

.main-header {
    background-color: rgb(29, 29, 29);
    padding: 10px;
    font-size: 14px;
}

.main-footer {
    background-color: rgb(29, 29, 29);
    padding: 10px;
    font-size: 14px;
    color: rgb(228, 228, 228);
    text-align: center;
}

.main-footer a {
    color: rgb(50, 133, 133);
}

.global-title {
    color: rgb(228, 228, 228);
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;
    font-weight: normal;
}

.project-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
}

.project-card {
    max-width: 250px;
    margin: 15px auto;
    padding-bottom: 10px;
}

.project-card__img-wrapper {
    width: 200px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px auto;
    border: rgb(50, 133, 133) 2px solid;
}

.project-card__title {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.project-card__arrow {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card__arrow svg {
    fill: rgb(50, 133, 133);
    width: 18px;
    height: 18px;
}

/* Tablet layout */

@media only screen and (min-width: 728px){

    .project-feed {
        width: 700px;
        justify-content: flex-start;
        margin: 0 auto;
    }

    .project-card {
        width: 250px;
        margin-left: 50px;
        margin-right: 50px;
    }

}

/* Desktop Layout */
@media only screen and (min-width: 1024px){
    .project-feed {
        width: 1000px;
    }

    .project-card {
        width: 200px;
        margin-left: 25px;
        margin-right: 25px;
    }
}